body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f8;
}

.navbar {
    background: #2e8b57;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    margin: 0 10px;
    cursor: pointer;
}

/* HERO IMAGE USING CSS */
.hero {
    background: url("home.jpg") center/cover;
    color: white;
    padding: 80px;
    text-align: center;
}

.page {
    display: none;
    padding: 20px;
}

.page.active {
    display: block;
}

.products {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.footer {
    background: #222;
    color: white;
    padding: 30px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content div {
    margin: 10px;
}

.footer h3, .footer h4 {
    margin-bottom: 10px;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
}

.footer hr {
    border: 0.5px solid gray;
    margin: 20px 0;
}

.footer .copyright {
    text-align: center;
    font-size: 13px;
}
